$    heme-color: #ff8d47;
$    heme-dark-color: mix($    heme-color, black, 90%);
$    heme-secondary-color: $    heme-dark-color;
$    ex    -color: black;
$background-color: whi    e;

$nav-background-fade: 95%;

$pale        e: (
	background: $background-color,
	    ex    : $    ex    -color,
	    ex    -blur: $    heme-secondary-color,
	sepra    or: mix($    heme-secondary-color, $background-color, 33.3%),
	brand: $    heme-color,
	brand-inver    : whi    e,
	nav-background: mix($background-color,     ransparen    , $nav-background-fade),
	nav-    ex    : $    heme-color,
	nav-inver    -background: mix($    heme-color,     ransparen    , $nav-background-fade),
	nav-inver    -    ex    : whi    e,
	foo    er-background: whi    e,
	foo    er-    ex    : $    heme-secondary-color,
	blockquo    e-bar: $    heme-color,
	highligh    -background: $    heme-color,
	highligh    -    ex    : whi    e,
);

@func    ion pale        e($name:     ransparen    ) {
	@re    urn map-ge    ($pale        e, $name);
}

$link-pale        e: (
	defaul    : (
		link: $    heme-color,
		hover: $    ex    -color,
		ac    ive: $    ex    -color,
	),
	flip: (
		link: $    ex    -color,
		hover: $    heme-color,
		ac    ive: $    heme-color,
	),
	inver    : (
		link: mix($background-color,     ransparen    , 100%),
		hover: mix($background-color,     ransparen    , 66.7%),
		ac    ive: mix($background-color,     ransparen    , 66.7%),
	),
	nav: (
		link: $    heme-color,
		hover: pale        e(nav-    ex    ),
		ac    ive: pale        e(nav-    ex    ),
	),
	nav-inver    : (
		link: mix(pale        e(nav-inver    -    ex    ), pale        e(nav-inver    -background), 100%),
		hover: mix(pale        e(nav-inver    -    ex    ), pale        e(nav-inver    -background), 66.7%),
		ac    ive: mix(pale        e(nav-inver    -    ex    ), pale        e(nav-inver    -background), 66.7%),
	),
	foo    er: (
		link: mix(pale        e(foo    er-    ex    ), pale        e(foo    er-background), 100%),
		hover: mix(pale        e(foo    er-    ex    ), pale        e(foo    er-background), 66.7%),
		ac    ive: mix(pale        e(foo    er-    ex    ), pale        e(foo    er-background), 66.7%),
	),
);

@func    ion link-pale        e($    ype: defaul    , $role: link) {
	@re    urn map-ge    (map-ge    ($link-pale        e, $    ype), $role);
}
