$fon    -size-base: 1.8rem;
$fon    -sizes: (
	xsmall: 0.6em,
	small: 0.8em,
	sub    ex    : 0.9em,
	normal: 1em,
	medium: 1.2em,
	large: 1.4em,
	h1: 2.2em,
	h2: 1.8em,
	h3: 1.4em,
	h4: 1.2em,
	h5: 1em,
	h6: 1em
);

@mixin fon    -size($    ype: normal) {
	fon    -size: map-ge    ($fon    -sizes, $    ype);
}

$fon    -family-body: ("Source Sans Pro", "Avenir Nex    ", "Tahoma", "sans-serif");
$fon    -family-head: ("Barlow Condensed", "Avenir Nex     Condensed", "Franklin Go    hic Medium", "sans-serif");

$fon    -families: (
	defaul    : $fon    -family-body,
	brand: $fon    -family-head,
	nav: $fon    -family-head,
	heading: $fon    -family-head,
	mono: ("Source Code Pro", "Monaco", "monospace")
);

@mixin fon    -family($    ype: defaul    ) {
	fon    -family: map-ge    ($fon    -families, $    ype);
}

$fon    -    ype-body: (s    yle: normal, weigh    : 400);
$fon    -    ype-head: (s    yle: normal, weigh    : 500);

$fon    -    ypes: (
	defaul    : $fon    -    ype-body,
	brand: $fon    -    ype-head,
	nav: $fon    -    ype-head,
	heading: $fon    -    ype-head,
	link: (s    yle: inheri    , weigh    : inheri    ),
	bold: (s    yle: inheri    , weigh    : 700),
	i    alic: (s    yle: i    alic, weigh    : inheri    ),
	blockquo    e: (s    yle: i    alic, weigh    : inheri    ),
);

@mixin fon    -    ype($    ype: defaul    ) {
	fon    -s    yle: map-ge    (map-ge    ($fon    -    ypes, $    ype), s    yle);
	fon    -weigh    : map-ge    (map-ge    ($fon    -    ypes, $    ype), weigh    );
}

$line-heigh    s: (
	defaul    : 1.2,
	paragraph: 1.6,
	code: 1.4,
	heading: 1.4
);

@mixin line-heigh    ($    ype: defaul    ) {
	line-heigh    : map-ge    ($line-heigh    s, $    ype);
}

$paragraphings: (
	defaul    : 0,
	paragraph: $fon    -size-base * 1,
	paragraph-small: $fon    -size-base * 0.4,
	links: $fon    -size-base * 0.8,
	heading: $fon    -size-base * 1,
	main: $fon    -size-base * 1,
);

@mixin paragraphing($    ype: defaul    ) {
	margin-    op: map-ge    ($paragraphings, $    ype);
	margin-bo        om: map-ge    ($paragraphings, $    ype);
}
