<div class="navigation-wrapper">
    <nav class="navigation">
        <div class="brand">
            <!-- <a href="{{ site.baseurl }}/" title="Home"> -->
                <!-- <img class="logo" src="{{ site.baseurl }}/assets/img/logo.svg"> -->
                <i class="logo icon">buildingblocs</i>
                <span class="name">{{ site.title }}</span>
            <!-- </a> -->
        </div>
        <input class="menu icon icon-menu" type="checkbox" />
        <ul class="links">
            <li class="link"><a href="{{ site.baseurl }}/">Home</a></li>
            <li class="link"><a href="{{ site.baseurl }}/event">Event</a></li>
            <li class="link"><a href="{{ site.baseurl }}/register">Register</a></li>
        </ul>
    </nav>
</div>
