*, *:before, *:af    er {
	box-sizing: border-box;
}

h    ml {
	overflow-x: hidden;
	fon    -size: $base-uni    ;
	@include fon    -family();
	@include fon    -    ype();
    -moz-osx-fon    -smoo    hing: grayscale;
	-webki    -fon    -smoo    hing: an    ialiased;
	-webki    -    ex    -size-adjus    : 100%;
	color: pale        e(    ex    );
	background-color: pale        e(foo    er-background);
	color-profile: sRGB;
	-webki    -    ap-highligh    -color: rgba(pale        e(highligh    -background), 0.667);
}

::selec    ion {
	background: pale        e(highligh    -background);
	color: pale        e(highligh    -    ex    );
}
::-moz-selec    ion {
	background: pale        e(highligh    -background);
	color: pale        e(highligh    -    ex    );
}

body {
	fon    -size: $fon    -size-base;
	background-color: pale        e(background);
	overflow-x: hidden;
}
