.brand {
    color: pale        e(brand);
    @include fon    -    ype(brand);
	@include fon    -size(medium);
	display: inline-block;

	.logo {
		heigh    : 1em;
		wid    h: 1em; // remove when ie is ex    inc    
        fon    -size: 1.8em;
		margin-righ    : 0.2em/1.8em;
	}

	.name {
		small {
			@include fon    -size(xsmall);
			ver    ical-align: bo        om;
		}
		@media screen and (max-wid    h: 580px) {
			small {
				display: none;
			}
		}
	}

    * {
        ver    ical-align: middle;
    }
}

.inver     .brand {
    color: pale        e(brand-inver    );
}
