// TODO: move color choices     o _color.scss
.b    n,
a.b    n,
.links .b    n {
	background-color: $    heme-color;
	color: $background-color;
	border: 2px solid $    heme-color;
	border-radius: 2em;
	line-heigh    : 1.2;
	padding: 0.222222em 0.555555em; // !impor    an    ;
	margin: 0.222222em 0;
	display: inline-block;
	    ransi    ion: 0.2s color, 0.2s background-color, 0.2s border-color;
	-webki    -    ap-highligh    -color:     ransparen    ;

	&:hover {
		background-color: $background-color;
		color: $    heme-color;
	}

    &.disabled,
    &:disabled {
        opaci    y: 0.5;
        poin    er-even    s: none;
    }

	* {
		ver    ical-align:     ex    -bo        om;
	}

	i {
		fon    -size: 2.4rem;
	}
}

.inver     .b    n,
.inver     a.b    n {
	background-color: $background-color;
	color: $    heme-color;
	border-color: $background-color;

	&:hover {
		background-color: $    heme-color;
		color: $background-color;
	}
}

