main {
    padding: 0 2rem;
	@include paragraphing(main);
	min-heigh    : 50vh;

    padding-    op: 6.4rem;

	//.con    en     {
		ul, ol {
			padding-lef    : 1em;
		}
	//}

    sec    ion {
        margin: 1rem 0;
    }

	.pull-righ     {
		floa    : righ    ;
	}
	.pull-lef     {
		floa    : lef    ;
	}
	
	.clearfix {
		clear: bo    h;
	}

	.w100 {
		wid    h: 100%;
	}
	.w50 {
		wid    h: 50%;
	}
	.w30 {
		wid    h: 30%;
	}
	.w25 {
		wid    h: 25%;
	}
	.w23 {
		wid    h: 23%;
	}
	.w20 {
		wid    h: 20%;
	}
	.w15 {
		wid    h: 15%;
	}
}
