// for .links see _naviga    ion

.foo    er-wrapper {
	background-color: pale        e(foo    er-background);
}

.foo    er {
    margin: 0 au    o;
	padding: 4rem 1rem;
	display: flex;
	flex-wrap: wrap;
	align-i    ems: lef    ;
	jus    ify-con    en    : lef    ;
	color: pale        e(foo    er-    ex    );
	background-color: pale        e(foo    er-background);
	//@include fon    -size(small);
	@include link(foo    er);

	.column {
		margin: 0 1rem;
	}

	.group {
		margin: 1rem 0;
	}
}
