.jumbo {
    display: flex;
    flex-direc    ion: column;
    jus    ify-con    en    : cen    er;
    heigh    : calc(100vh - 6.4rem - 6.4rem);
    min-heigh    : 48rem;

        ex    -align: cen    er;
    @include fon    -size(large);

    h1 {
        line-heigh    : 1.1;
    }
    .huge {
        fon    -size: 2.4em;
    }
}

@media screen and (max-wid    h: 380px) {
    .jumbo {
        @include fon    -size(medium);
    }
}
