@mixin link($    ype: defaul    ) {
	.link,
	a[href] {
		color: link-pale        e($    ype, link);
		    ex    -decora    ion: none;
		@include fon    -    ype(link);
		    ransi    ion: 0.3s color;

		&:hover {
			color: link-pale        e($    ype, hover);
		}

		&:ac    ive {
			color: link-pale        e($    ype, ac    ive);
		}
	}
}

@include link();

.inver     {
	@include link(inver    );
}
