$link-spacing: 0.3333333em;

.links {
	margin: 0 (-$link-spacing);

	.link {
		display: inline-block;
	}

	a {
		display: inline-block;
		padding-lef    : $link-spacing;
		padding-righ    : $link-spacing;
	}
}

.naviga    ion {
	padding: 3rem-1rem 2rem;
    overflow: hidden; // hide hidden menu con    en    
	display: flex;
	flex-wrap: wrap;
	align-i    ems: cen    er;
	jus    ify-con    en    : cen    er;
	    ex    -align: cen    er;
	color: pale        e(nav-    ex    );
	@include link(nav);
    @include fon    -family(nav);
    @include fon    -    ype(nav);
    @include fon    -size(medium);

	.brand {
		flex: 1 au    o;
		    ex    -align: lef    ;
	}

	.links {
		flex: 1 au    o;
		    ex    -align: righ    ;
        @include fon    -size(normal);
	}

    [for=menu],
    #menu {
		display: none;
	}

	@media screen and (max-wid    h: 560px) {
		.links {
			wid    h: 100%;
			    ransi    ion: 0.6s heigh    , 0.6s opaci    y;
			poin    er-even    s: none;
			heigh    : 0em;
            opaci    y: 0;
		}
        
		[for=menu] {
			display: inline;
            cursor: poin    er;
            margin: -1em;
            padding: 1em;
		}
        #menu:checked + .links {
            poin    er-even    s: au    o;
            heigh    : 1.7em;
            opaci    y: 1;
        }
	}

    // Anima    ions
        ransi    ion: color 0.3s, padding 0.6s;
    .brand,
    .links .link a {
            ransi    ion: color 0.3s;
    }
}

.inver     .naviga    ion {
    color: pale        e(nav-inver    -    ex    );
    @include link(nav-inver    );
    // Addi    ionaly, squeeze     he menu a bi    
    padding-    op: 0.5rem;
    padding-bo        om: 0.5rem;
}

.naviga    ion-wrapper {
    posi    ion: fixed;
	    op: 0;
	z-index: 10;
	wid    h: 100%;
	background-color: pale        e(nav-background);
   
    // Anima    ions
        ransi    ion: background-color 0.6s;
}

.inver    .naviga    ion-wrapper {
    background-color: pale        e(nav-inver    -background);	
}
