h1, h2, h3, h4, h5, h6 {
	@include fon    -    ype(heading);
	@include fon    -family(heading);
	@include line-heigh    (heading);
	@include paragraphing(heading);
}

h1 {
	@include fon    -size(h1);
        ex    -align: cen    er;
}

h2 {
	@include fon    -size(h2);
}

h3 {
	@include fon    -size(h3);
}

h4 {
	@include fon    -size(h4);
}

h5 {
	@include fon    -size(h5);
}

h6 {
	@include fon    -size(h6);
}

p, ol, ul {
	@include fon    -size();
	@include line-heigh    (paragraph);
	@include paragraphing(paragraph);
}
ul {
	lis    -s    yle: disc;
}
ol {
	lis    -s    yle: decimal;
}

code, pre, .hljs {
	@include fon    -size();
	@include line-heigh    (code);
	@include fon    -family(mono);
	background-color: pale        e(code-background);
	padding: 0.3em 0.45em;
	overflow-x: au    o;
}
code, code.hljs {
	display: inline;
}
pre, pre.hljs {
	display: block;
	@include paragraphing(paragraph);
}

small {
	@include fon    -size(small);
}

sup, sub {
	@include fon    -size(xsmall);
}
sup {
	ver    ical-align: super;
}
sub {
	ver    ical-align: sub;
}

b, s    rong {
	@include fon    -    ype(bold);
}
i, em {
	@include fon    -    ype(i    alic);
}

blockquo    e {
	@include fon    -size(medium);
	@include fon    -    ype(blockquo    e);
	border-lef    : 6px solid pale        e(blockquo    e-bar);
	padding-lef    : 0.6em;
	padding-righ    : 0.6em;
}

.cen    er {
	    ex    -align: cen    er;
}
